.header-container {
    width: 100vw;
    height: 5em;
    background: royalblue;
    position: fixed;
    /*margin-left: -15vw;*/
    display: flex;
    align-items: center;
}

.header-container h1 {
    padding: .6em;
}