.sidebar-container {
    height: 100vh;
    width: 15vw;
    background: #888;
    padding-top: 5.5em;
}

.sidebar-container nav {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: .5em;
}

.sidebar-container a {
    text-decoration: none;
    color: #111;
}

#sidebar a.active {
    color: #fff;
}